/* line 1, sass/_system.scss */
ul, ol {
  padding: 0;
  margin: 0;
}

/* line 8, sass/_system.scss */
#fakeStatus {
  padding: 5px;
  text-align: center;
}
/* line 11, sass/_system.scss */
#fakeStatus span {
  color: #51a351;
}

/* line 16, sass/_system.scss */
#lockSystem {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  background: rgba(0, 0, 0, 0.9);
}

/* line 26, sass/_system.scss */
.registerBlock {
  position: relative;
  height: 300px;
  width: 350px;
  background: #dcdedd;
  border: 1px solid #000;
  z-index: 1;
}
/* line 34, sass/_system.scss */
.registerBlock h2 {
  text-align: center;
  margin-bottom: 10px;
}
/* line 39, sass/_system.scss */
.registerBlock table {
  margin: 0 auto;
}

/* line 46, sass/_system.scss */
.wrapper {
  position: relative;
  width: 1100px;
  height: 600px;
  margin: 0 auto;
}
/* line 52, sass/_system.scss */
.wrapper .wrapperLeft {
  position: relative;
  width: 800px;
  height: 600px;
  float: left;
}
/* line 58, sass/_system.scss */
.wrapper .wrapperLeft .headerLeft {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #dcdedd;
  position: relative;
  width: 100%;
  height: 150px;
}
/* line 65, sass/_system.scss */
.wrapper .wrapperLeft .headerLeft .localVideo {
  float: left;
  width: 280px;
  height: 100%;
  text-align: center;
}
/* line 70, sass/_system.scss */
.wrapper .wrapperLeft .headerLeft .localVideo video {
  width: 268px;
  height: 124px;
  background-color: #000000;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 2s;
}
/* line 79, sass/_system.scss */
.wrapper .wrapperLeft .headerLeft .chat {
  float: left;
  width: 520px;
  height: 100%;
}
/* line 86, sass/_system.scss */
.wrapper .wrapperLeft .remoteVideo {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  height: 444px;
  width: 800px;
  text-align: center;
  background: #dcdedd;
  margin-top: 15px;
}
/* line 93, sass/_system.scss */
.wrapper .wrapperLeft .remoteVideo video {
  background-color: #000000;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 2s;
}
/* line 101, sass/_system.scss */
.wrapper .wrapperRight {
  position: relative;
  height: 600px;
  width: 275px;
  float: left;
  margin-left: 10px;
}
/* line 107, sass/_system.scss */
.wrapper .wrapperRight .logo {
  height: 139px;
  display: block;
}
/* line 115, sass/_system.scss */
.wrapper .wrapperRight .usersDiv .user {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  position: relative;
  height: 50px;
  background: #dcdedd;
}
/* line 120, sass/_system.scss */
.wrapper .wrapperRight .usersDiv .user:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 10px 10px 0;
  border-color: #dcdedd transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -10px;
  right: 20px;
}
/* line 133, sass/_system.scss */
.wrapper .wrapperRight .usersDiv .user ul {
  display: table;
  margin-top: 25px;
  width: 100%;
  height: 100%;
}
/* line 139, sass/_system.scss */
.wrapper .wrapperRight .usersDiv .user ul li {
  display: table-cell;
  height: 40px;
  width: 40px;
  vertical-align: middle;
}
/* line 146, sass/_system.scss */
.wrapper .wrapperRight .usersDiv .user ul .ramalNumber {
  text-align: center;
  width: 60px;
}
/* line 151, sass/_system.scss */
.wrapper .wrapperRight .usersDiv .user ul .userStatus {
  text-align: center;
  font-size: 20px;
  color: #831515;
}
/* line 156, sass/_system.scss */
.wrapper .wrapperRight .usersDiv .user ul .userStatus.online {
  color: #75AF62;
}
/* line 160, sass/_system.scss */
.wrapper .wrapperRight .usersDiv .user ul .userStatus.emUso {
  color: #FFAE00;
}
/* line 164, sass/_system.scss */
.wrapper .wrapperRight .usersDiv .user ul .icon {
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}
/* line 170, sass/_system.scss */
.wrapper .wrapperRight .usersDiv .user ul .icon i:hover {
  color: #FFFFFF;
}
/* line 173, sass/_system.scss */
.wrapper .wrapperRight .usersDiv .user ul .icon i:active {
  color: #BABABA;
}

/* line 1, sass/_index.scss */
.navbar-inner-red {
  background-color: #600000;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

/* line 7, sass/_index.scss */
.full-screen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 15, sass/_index.scss */
.normal-screen {
  position: relative;
}

/* line 18, sass/_index.scss */
.call-options {
  padding: 5px;
  background-color: #f0f0f0;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
}

/* line 36, sass/_index.scss */
.tab-video,
.div-video {
  width: 100%;
  height: 0px;
  -webkit-transition-property: height;
  -moz-transition-property: height;
  -o-transition-property: height;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
}

/* line 47, sass/_index.scss */
.label-align {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}

/* line 52, sass/_index.scss */
.input-align {
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}

/* line 62, sass/_index.scss */
.glass-panel {
  z-index: 99;
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  opacity: 0.8;
  background-color: Gray;
}

/* line 74, sass/_index.scss */
.div-keypad {
  z-index: 100;
  position: fixed;
  -moz-transition-property: left top;
  -o-transition-property: left top;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
}

/* line 9, sass/systemOut.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
