@font-face {
	font-family: 'icomoon';
	src:url('assets/fonts/icon/icomoon.eot?-7tw44v');
	src:url('assets/fonts/icon/icomoon.eot?#iefix-7tw44v') format('embedded-opentype'),
		url('assets/fonts/icon/icomoon.woff?-7tw44v') format('woff'),
		url('assets/fonts/icon/icomoon.ttf?-7tw44v') format('truetype'),
		url('assets/fonts/icon/icomoon.svg?-7tw44v#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e900";
}

.icon-home3:before {
	content: "\e902";
}

.icon-video-camera:before {
	content: "\e914";
}

.icon-mic:before {
	content: "\e91e";
}

.icon-phone:before {
	content: "\e942";
}

.icon-phone-hang-up:before {
	content: "\e943";
}

.icon-database:before {
	content: "\e964";
}

.icon-bubble:before {
	content: "\e96b";
}

.icon-bubbles:before {
	content: "\e96c";
}

.icon-bubbles2:before {
	content: "\e96d";
}

.icon-bubble2:before {
	content: "\e96e";
}

.icon-bubbles3:before {
	content: "\e96f";
}

.icon-bubbles4:before {
	content: "\e970";
}

.icon-user:before {
	content: "\e971";
}

.icon-lock:before {
	content: "\e98f";
}

.icon-unlocked:before {
	content: "\e990";
}

.icon-sphere:before {
	content: "\e9c9";
}

.icon-earth:before {
	content: "\e9ca";
}

.icon-cross:before {
	content: "\ea0f";
}

.icon-checkmark:before {
	content: "\ea10";
}

.icon-checkmark2:before {
	content: "\ea11";
}

.icon-enter:before {
	content: "\ea13";
}

.icon-exit:before {
	content: "\ea14";
}

.icon-play2:before {
	content: "\ea15";
}

.icon-pause:before {
	content: "\ea16";
}

.icon-stop:before {
	content: "\ea17";
}

.icon-play3:before {
	content: "\ea1c";
}

.icon-pause2:before {
	content: "\ea1d";
}

.icon-stop2:before {
	content: "\ea1e";
}

.icon-github:before {
	content: "\eab1";
}

.icon-github2:before {
	content: "\eab2";
}

.icon-github3:before {
	content: "\eab3";
}

.icon-github4:before {
	content: "\eab4";
}

.icon-html5:before {
	content: "\eadf";
}

.icon-html52:before {
	content: "\eae0";
}

.icon-css3:before {
	content: "\eae1";
}

.icon-chrome:before {
	content: "\eae5";
}

.icon-firefox:before {
	content: "\eae6";
}

.icon-IE:before {
	content: "\eae7";
}

.icon-opera:before {
	content: "\eae8";
}

.icon-safari:before {
	content: "\eae9";
}

