@media screen and (max-width:320px) { }
@media screen and (max-width:480px) {

//========================== FIRST SCREEN ==========================

	.firstScreen{
		&:after, &:before{
			content: none;
		}
		.fsLeft{
			width: 0;
		}
		.fsRight{
			width: 100%;
			border-left: 0;
		}
	}

//========================== SECOND SCREEN ==========================

	.secondScreen{

		.ssHeader{
			input#btnUnRegister{
				position: absolute;
				height: 40%;
				right: 0px;
				width: 100%;
				bottom: 0;
			}

			.header_callStatus{
				position: relative;
				float: left;
				left: auto;
				width: 60%;
				font-size: 20px;
				margin-left: 0;
			}
			
			.userUl{
				position: relative;
				float: left;
				top: 22px;
				width: 40%;
				.userStatus, .ramalNumber{
					font-size: 30px;
					margin-left: 10px;
				}
			}
		}
		
		.wrapper{
			.wrapperLeft{
				width: 100%;
				float: initial;
			}
			.wrapperRight{
				padding: 0;
				.chatWrapper{
					width: 100%;
					padding: 0;
					.chatView form button{
						width: 20%;
					}
				}
				.blockCallStatus{
					position: absolute;
					width: 100%;
					border: 0px;
				}
			}
		}

		.footer{
			display: none;
		}
	}
}
@media screen and (max-width:600px) { }
@media screen and (max-width:768px) { }
@media screen and (max-width:992px) { }