<!DOCTYPE html>
<!--
* Copyright (C) 2012 Doubango Telecom <http://www.doubango.org>
* License: BSD
* This file is part of Open Source sipML5 solution <http://www.sipml5.org>
-->
<html>
<!-- head -->
<head>
    <meta charset="utf-8" />
    <title>sipML5 live demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Keywords" content="doubango, sipML5, VoIP, HTML5, WebRTC, RTCWeb, SIP, IMS, Video chat, VP8, live demo " />
    <meta name="Description" content="HTML5 SIP client using WebRTC framework" />
    <meta name="author" content="Doubango Telecom" />

    <!-- <base href="http://localhost/togo/sipml5/"> -->

    <!-- SIPML5 API:
    DEBUG VERSION: 'SIPml-api.js'
    RELEASE VERSION: 'release/SIPml-api.js'
    -->
    <script src="sipml5/SIPml-api.js?svn=224" type="text/javascript"> </script>

    <!-- Styles -->

    <link href="sipml5/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="sipml5/assets/css/bootstrap-responsive.css" rel="stylesheet" />

    <!--Togo System-->

    <link rel="stylesheet" type="text/css" href="sipml5/togo/styles/fontAwesome/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="sipml5/togo/styles/systemOut.css">
    
    <script src="sipml5/togo/js/lib/sails.io.js"></script>
    
    <script src="sipml5/togo/js/lib/jquery-2.1.1.min.js"></script>
    <script src="sipml5/togo/js/lib/underscore.js"></script>
    <script src="sipml5/togo/js/lib/backbone.js"></script>
    <script src="sipml5/togo/js/lib/mustache.js"></script>
    <script src="sipml5/togo/js/views/UserView.js"></script>

    <script src="sipml5/togo/js/controllers/sysController.js"></script>

    <!--Fim Togo System-->
</head>

<!-- Javascript code -->
<script src="sipml5/togo/js/lib/index.js" type="text/javascript"> </script>

<body style="cursor:wait">
    <div class="firstScreen">

        <div class="fsRight">
            <div class="loginWrapper">
                <h1>Telecomunicões IFSC</h1>
                <h3>WebRTC & Asterisk</h3>
                <label style="width: 100%;" align="center" id="txtRegStatus"></label>

                <div class="inputBlock">
                    <h5>Nome: </h5>
                    <div>
                        <span class="icon-user"></span>
                        <input type="text" id="txtDisplayName" value="" placeholder="e.g. John Doe" />
                    </div>
                </div>
                
                <div class="inputBlock">
                    <h5>Identidade Privada: </h5>
                    <div>
                        <span class="icon-home3"></span>
                        <input type="text" id="txtPrivateIdentity" value="" placeholder="e.g. +33600000000" />
                    </div>
                </div>
                
                <div class="inputBlock">
                    <h5>Identidade Pública: </h5>
                    <div>
                        <span class="icon-earth"></span>
                        <input type="text" id="txtPublicIdentity" value="" placeholder="e.g. sip:+33600000000@doubango.org" /> 
                    </div> 
                </div>

                <div class="inputBlock">
                    <h5>Senha: </h5>
                    <div>
                        <span class="icon-lock"></span>
                        <input type="password" id="txtPassword" value="" />
                    </div> 
                </div>

                <div class="inputBlock">
                    <h5>Servidor: </h5>
                    <div>
                        <span class="icon-database"></span>
                        <input type="text" id="txtRealm" value="" placeholder="e.g. doubango.org" /> 
                    </div>
                </div>

                <input type="button" class="btn btn-success" id="btnRegister" value="Conectar" disabled onclick='sipRegister();' />

                <a class="avancadoLink" href="./expert" target="_blank">Avançado</a>
            </div>
        </div> 
        
        <div class="fsLeft">
            <img src="sipml5/togo/styles/assets/images/imgCapa.png" alt="">
        </div>
    </div>
    
    <div class="secondScreen">

        <div class="lockScreen">
            <div class="icon-lock">
                <span>Sistema bloqueado. Necessário realizar login</span>
            </div>
        </div>

        <div class="ssHeader">
            <div class="header_callStatus">
                <span>Estado da ligação</span>
                <label align="center" id="txtCallStatus"></label>
            </div>
            
            <input type="button" class="btn btn-danger " id="btnUnRegister" disabled onclick='sipUnRegister();' value="Desconectar"/>
        </div>

        <div class="wrapper">
            <div class="wrapperLeft">
                <h2>Usuários</h2>
                <div class="usersDiv"></div>
            </div>

            <div class="wrapperRight">
                <div class="chat">
                    <div class="blockInputMsg">
                        <input class="inputMessage">
                        <span>
                            <button type="button">Enviar</button>
                        </span>
                    </div>     
                </div>

                <div class="blockCallStatus">
                    <h3>Origem</h3>
                    <span id="ramalSrc">???</span>
                    <h3>Destino</h3>
                    <span id="ramalDest">???</span>
                    <h3>Tipo de ligação</h3>
                    <span>Áudio</span>
                    <h3>Tempo de ligação</h3>
                    <div class="callTime">
                        <span id="hourelement">0</span>
                        <span id="minuteelement">00</span>
                        <span id="secondelement">00</span>
                    </div>
                    
                    <div id="divBtnCallGroup" class="btn-group">
                        <button id="btnCall" disabled class="btn btn-primary" data-toggle="dropdown">Atender</button>
                    </div>
                    <input type="button" id="btnHangUp" class="btn btn-primary" value="Desligar" onclick="sipHangUp();" disabled/>
                </div>
            </div>

<!--             <div class="wrapperRight">
                <div class="headerLeft">
                    <div class="localVideo">
                        <h5>Video: Usuário Local</h5>
                        <video class="video" id="video_local" autoplay="autoplay" muted="true"> </video>
                    </div>
                    <div class="chat"></div>
                </div>
                
                <div class="remoteVideo">
                    <h5>Video: Usuário Remoto</h5>
                    <video class="video" id="video_remote" autoplay="autoplay"></video>
                </div>
            </div> -->

            
        </div>

        <div class="footer"></div>
    </div>
    


    <div id="divCallCtrl" class="span7 well" style='display:table-cell; vertical-align:middle'>            
                    <h2>
                        Call control
                    </h2>
                    <br />
                    <table style='width: 100%;'>
                        <tr>
                            <td style="white-space:nowrap;">
                                <input type="text" style="width: 100%; height:100%" id="txtPhoneNumber" value="" placeholder="Enter phone number to call" />                            
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" align="right">
                                <div class="btn-toolbar" style="margin: 0; vertical-align:middle">
                                    <!-- <div id="divBtnCallGroup" class="btn-group">
                                        <button id="btnCall" disabled class="btn btn-primary" data-toggle="dropdown">Call</button>
                                    </div> -->&nbsp;&nbsp;
                                    <div class="btn-group">
                                        <!-- <input type="button" id="btnHangUp" style="margin: 0; vertical-align:middle; height: 100%;" class="btn btn-primary" value="HangUp" onclick='sipHangUp();' disabled /> -->
                                    </div>
                                 </div>
                            </td>
                        </tr>
                        <tr>
                            <td id="tdVideo" class='tab-video'>
                                <div id="divVideo" class='div-video'>
                                    <div id="divVideoRemote" style='border:1px solid #000; height:100%; width:100%'>
                                        <video class="video" width="100%" height="100%" id="video_remote" autoplay="autoplay" style="opacity: 0; 
                                            background-color: #000000; -webkit-transition-property: opacity; -webkit-transition-duration: 2s;">
                                        </video>
                                    </div>
                                    <div id="divVideoLocal" style='border:0px solid #000'>
                                        <video class="video" width="88px" height="72px" id="video_local" autoplay="autoplay" muted="true" style="opacity: 0;
                                            margin-top: -80px; margin-left: 5px; background-color: #000000; -webkit-transition-property: opacity;
                                            -webkit-transition-duration: 2s;">
                                        </video>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                           <td align='center'>
                                <div id='divCallOptions' class='call-options' style='opacity: 0; margin-top: 3px'>
                                    <input type="button" class="btn" style="" id="btnFullScreen" value="FullScreen" disabled onclick='toggleFullScreen();' /> &nbsp;
                                    <input type="button" class="btn" style="" id="btnHoldResume" value="Hold" onclick='sipToggleHoldResume();' /> &nbsp;
                                    <input type="button" class="btn" style="" id="btnTransfer" value="Transfer" onclick='sipTransfer();' /> &nbsp;
                                    <input type="button" class="btn" style="" id="btnKeyPad" value="KeyPad" onclick='openKeyPad();' />
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

    <!-- /container -->

    <!--Template para a lista de usuários-->
    <script id="userTemplate" type="text/template">
        <ul data-ramal = "{{objectname}}" > 
            <li class="userStatus {{#ramalOnline}}online{{/ramalOnline}} {{#ramalEmUso}}emUso{{/ramalEmUso}}"><i class="fa fa-user"></i></li>
            <li class="ramalNumber">{{objectname}}</li> 
            <li class="icon video"> <i class="fa fa-video-camera"></i> </li> 
            <li class="icon audio" > <i class="fa fa-microphone"></i> </li> 
            <li class="icon chat"> <i class="fa fa-weixin"></i> </li>
        </ul>
    </script>

    <!-- Glass Panel -->
    <div id='divGlassPanel' class='glass-panel' style='visibility:hidden'></div>
    <!-- KeyPad Div -->
    <div id='divKeyPad' class='span2 well div-keypad' style="left:0px; top:0px; width:250; height:240; visibility:hidden">
        <table style="width: 100%; height: 100%">
            <tr><td><input type="button" style="width: 33%" class="btn" value="1" onclick="sipSendDTMF('1');"/><input type="button" style="width: 33%" class="btn" value="2" onclick="sipSendDTMF('2');"/><input type="button" style="width: 33%" class="btn" value="3" onclick="sipSendDTMF('3');"/></td></tr>
            <tr><td><input type="button" style="width: 33%" class="btn" value="4" onclick="sipSendDTMF('4');"/><input type="button" style="width: 33%" class="btn" value="5" onclick="sipSendDTMF('5');"/><input type="button" style="width: 33%" class="btn" value="6" onclick="sipSendDTMF('6');"/></td></tr>
            <tr><td><input type="button" style="width: 33%" class="btn" value="7" onclick="sipSendDTMF('7');"/><input type="button" style="width: 33%" class="btn" value="8" onclick="sipSendDTMF('8');"/><input type="button" style="width: 33%" class="btn" value="9" onclick="sipSendDTMF('9');"/></td></tr>
            <tr><td><input type="button" style="width: 33%" class="btn" value="*" onclick="sipSendDTMF('*');"/><input type="button" style="width: 33%" class="btn" value="0" onclick="sipSendDTMF('0');"/><input type="button" style="width: 33%" class="btn" value="#" onclick="sipSendDTMF('#');"/></td></tr>
            <tr><td colspan=3><input type="button" style="width: 100%" class="btn btn-medium btn-danger" value="close" onclick="closeKeyPad();" /></td></tr>
        </table>
    </div>

    <!-- Call button options -->
    <ul id="ulCallOptions" class="dropdown-menu" style="visibility:hidden">
        <li><a href="#" onclick='sipCall("call-audio");'>Audio</a></li>
        <li><a href="#" onclick='sipCall("call-audiovideo");'>Video</a></li>
        <li id='liScreenShare' ><a href="#" onclick='sipCall("call-screenshare");'>Screen Share</a></li>
        <li class="divider"></li>
        <li><a href="#" onclick='uiDisableCallOptions();'><b>Disable these options</b></a></li>
    </ul>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="sipml5/assets/js/jquery.js"></script>
    <script type="text/javascript" src="sipml5/assets/js/bootstrap-transition.js"></script>
    <script type="text/javascript" src="sipml5/assets/js/bootstrap-alert.js"></script>
    <script type="text/javascript" src="sipml5/assets/js/bootstrap-modal.js"></script>
    <script type="text/javascript" src="sipml5/assets/js/bootstrap-dropdown.js"></script>
    <script type="text/javascript" src="sipml5/assets/js/bootstrap-scrollspy.js"></script>
    <script type="text/javascript" src="sipml5/assets/js/bootstrap-tab.js"></script>
    <script type="text/javascript" src="sipml5/assets/js/bootstrap-tooltip.js"></script>
    <script type="text/javascript" src="sipml5/assets/js/bootstrap-popover.js"></script>
    <script type="text/javascript" src="sipml5/assets/js/bootstrap-button.js"></script>
    <script type="text/javascript" src="sipml5/assets/js/bootstrap-collapse.js"></script>
    <script type="text/javascript" src="sipml5/assets/js/bootstrap-carousel.js"></script>
    <script type="text/javascript" src="sipml5/assets/js/bootstrap-typeahead.js"></script>

    <!-- Audios -->
    <audio id="audio_remote" autoplay="autoplay" />
    <audio id="ringtone" loop src="sipml5/sounds/ringtone.wav" />
    <audio id="ringbacktone" loop src="sipml5/sounds/ringbacktone.wav" />
    <audio id="dtmfTone" src="sipml5/sounds/dtmf.wav" />

</body>
</html>
