<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Different Layout</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script language="javascript" src="./js/dependencies/sails.io.js"></script>
    <script language="javascript">
        // STATUS CODES
        /*-1 = Extension not found
        0 = Idle
        1 = In Use
        2 = Busy
        4 = Unavailable
        8 = Ringing
        16 = On Hold*/


        // conectando com backend
        var socket = io.connect('http://localhost:1337');
        socket
            .on('connect', function () {
                console.log('conectado ao server... aguardando respostas do back-end.');
                //faz requisicao pro back
                socket.emit('get peers');
            })
            .on('asterisk connected', function(participant) {
                console.log('recebido informacoes do participante', participant);
            })
            .on('get peers', function(peer) {
                console.log('get peers returned a peer', peer);
            });
    </script>
  </head>
  <body>
    <h1>Asterisk Test Project</h1>
    <%- body %>
  </body>
</html>