@media screen and (max-width:320px) { }
@media screen and (max-width:480px) {
	.firstScreen{
		&:after, &:before{
			content: none;
		}
		.fsLeft{
			width: 0;
		}
		.fsRight{
			width: 100%;
		}
	}

	.secondScreen{
		.wrapper{
			.wrapperLeft{
				width: 100%;
				float: initial;
			}
			.wrapperRight{
				padding: 0;
				.chatWrapper{
					display: none;
				}
				.blockCallStatus{
					width: 100%;
				}
			}
		}

		.ssHeader{
			input#btnUnRegister{
				position: absolute;
				height: 40%;
				right: 0px;
				width: 100%;
				bottom: 0;
			}

			.header_callStatus{
				width: auto;
				height: auto;
				right: 0px;
				margin-left: auto;
				font-size: 20px;
			}
			
			.user{
				position: absolute;
				ul{
					position: relative;
					top: auto;
				}
			}
		}
		

		.footer{
			display: none;
		}
	}
}
@media screen and (max-width:600px) { }
@media screen and (max-width:768px) { }
@media screen and (max-width:992px) { }