body{
	position: absolute;
	height: 100%;
	width: 100%;
	background: #859e71;
}
 
ul, ol {
	padding: 0;
	margin: 0;
}

// ==================== FIRST SCREEN ====================

.firstScreen{
	position: relative;
	background: green;
	height: 100%;
	width: 100%;

	.fsRight{
		position: absolute;
		height: 100%;
		left: 45%;
		right: 0px;
		background: yellow;
	}

	.fsRight .loginWrapper{
		position: relative;
		background: red;
		width: 450px;
		&>div{
			position: relative;
			width: 430px;
			margin: 10px;
			input{
				position: absolute;
				right: 0px;
			}
			&:last-child{
				input{
					position: relative;
				}
			}
		}
	}
}

// ==================== WRAPPER ====================

.wrapper{
	position: relative;
	width: 1100px;
	height: 600px;
	margin: 0 auto;

	.wrapperLeft{
		position: relative;
		width: 800px;
		height: 600px;
		float: left;

		.headerLeft{
			@include border-radius(5px);
			@include box-shadow($r:104, $g:210, $b:216);
			background: $colorBase;
			position: relative;
			width: 100%;
			height: 150px;

			.localVideo{
				float: left;
				width: 280px;
				height: 100%;
				text-align: center;
				video{
					width: 268px;
					height: 124px;
					background-color: #000000;
					-webkit-transition-property: opacity;
					-webkit-transition-duration: 2s;
				}
			}

			.chat{
				float: left;
				width: 520px;
				height: 100%;
			}
		}

		.remoteVideo{
			@include border-radius(5px);
			@include box-shadow($r:104, $g:210, $b:216);
			height: 444px;
			width: 800px;
			text-align: center;
			background: $colorBase;
			margin-top: 15px;
			video{
				background-color: #000000; 
				-webkit-transition-property: opacity; 
				-webkit-transition-duration: 2s;
			}
		}
	}

	.wrapperRight{
		position: relative;
		height: 600px;
		width: 275px;
		float: left;
		margin-left: 10px;
		.logo{
			height: 139px;
			display: block;
			margin-bottom: 28px;
		}

		.usersDiv{
			height: 441px;
			overflow: auto;
			padding: 0px 5px 0px 5px;

			.user{
				@include border-radius(5px);
				@include box-shadow($r:104, $g:210, $b:216);
				position: relative;
				height: 50px;
				background: $colorBase;
				&:after{
					content: '';
					position: absolute;
					border-style: solid;
					border-width: 10px 10px 0;
					border-color: $colorBase transparent;
					display: block;
					width: 0;
					z-index: 1;
					bottom: -10px;
					right: 20px;
				}

				&:before{
					content: '';
					position: absolute;
					border-style: solid;
					border-width: 10px 10px 0;
					border-color: #68D2D8 transparent;
					display: block;
					width: 0;
					z-index: 1;
					bottom: -15px;
					right: 20px;
				}

				&:first-child ul{
					margin-top: 0px;
				}

				ul{
					display: table;
					margin-top: 25px;
					width: 100%;
					height: 100%;

					li{
						color: #BCBCBC;
						display: table-cell;
						height: 40px;
						width: 40px; 
						vertical-align: middle;
					}

					li.icon{
						text-align: center;
						font-size: 20px;
						cursor: pointer;
						i{
							&:hover{
								color: #838383;
							}
							&:active{
								color: #B8B8B8;
							}
						}
					}

					li.ramalNumber{
						font-weight: bold;
						color: #000000;
					}

					li .fa{
						text-shadow: 0px 2px #000000;
					}

					.ramalNumber{
						text-align: center;
						width: 60px;
					}

					.userStatus{
						text-align: center;
						font-size: 20px;
						color: #DA5656;
					}
					.userStatus.online{
						color: #75AF62
					}
					
					.userStatus.emUso{
						color: #FFAE00
					}
				}		
			}

			.callStatus{
				display: none;
			}

			&.inUse{
				.callStatus{
					position: absolute;
					top: 0;
					height: 100%;
					width: 100%;
					background: #FFFFFF;
					z-index: 10;
					display: block;
				}

				.callStatus #btnHangUp{
					@include border-radius(7px);
					position: absolute;
					height: 120px;
					width: 120px;
					left: 50%;
					margin-left: -60px;
					bottom: 50px;
					background: #BE2833;
				}
			}
		}		
	}
}

// ==================== SIPML5 ELEMENTS ====================

#divCallCtrl{
	display: none !important;
}